html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #c8c8c8;
}

.card__text {
  font-size:  14px;
  line-height: 35px;
  color: #c8c8c8;;
}

.card__link:hover {
  opacity: 0.7;
  transform: translateY(-5px)
}
.widget:not(:last-child){
    margin-bottom: 30px;
}
.widget_title{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
.widget_title::after{
    height: 20px;
    width: 20px;
    position: absolute;
    content:"";
    right: 0;
    top:0;
    background-image: url("../img/chevron-up.svg");
    background-repeat:no-repeat;
    background-position: center;
}
.sidebar{
   width: 270px; 
    min-width: 200px;
}
.location{
    background-color:white;
    border-radius:4px;
    width:100%;
    
    
}
.location_row{
    display:flex
}

.location_row:first-child{
    overflow: hidden;
    border-radius:4px 4px 0 0;
    border:solid 1px #D6D6D6;
    
}
.location_row:last-child{
    overflow: hidden;
    border-radius:0 0 4px 4px ;
    border:solid 1px #D6D6D6;
    border-top: none;
}
.label_metro{
    flex-grow: 1;
    border:none;
    padding-left:15px;
    padding-right:15px;
    height:50px;
    text-align:center;
    font-size:14px;
    line-height:50px;
    color:#3C3C3C;
    cursor:pointer;
    transition: background-color 600ms ;
}
.metro{
    width:1px;
    height:1px;
    position:absolute;
    opacity:0;
}
.label_metro:hover{
    background-color: #fff0bb;
}
.metro:checked + .label_metro{
    background-color: #FFCF26;
}
.metro ~ .label_metro:hover{
    background-color: #FFCF26;
}
.radio_group{
    display: block;
    cursor:pointer;
}
.radio_group:not(:last-child){
    margin-bottom: 15px;
}
.radio_input{
    display: none;
}
.radio_fake{
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border:solid 1px #777
}
.radio_title{
    font-size: 16px;
    line-height: 1.18;
    color: #000;
}
.radio_input:checked + .radio_fake{
    background-color: #FFE074;
}
.radio_input:checked ~ .radio_title{
    font-weight: 700;
}
.radio_input:checked + .radio_fake::before{
    position: absolute;
    content:"";
    height: 6px;
    width: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #3C3C3C;
}
.checkbox_group{
    display: block;
    cursor:pointer;
}
.checkbox_group:not(:last-child){
    margin-bottom: 15px;
}
.checkbox_input{
    display:none;
}
.checkbox_fake{
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    height:20px;
    width: 20px;
    background-color: #fff;
    border: solid 1px #777;
    border-radius: 2px;

}
.checkbox_title{
    font-size:16px;
    line-height:1.18;
    color:#000;

}
.checkbox_input:checked ~ .checkbox_fake{
    background-color: #FFE074;
}
.checkbox_input:checked ~ .checkbox_title{
    font-weight: 700;
}
.checkbox_input:checked ~ .checkbox_fake::before{
    position: absolute;
    content:"";
    height:18px;
    width: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.widget__hidden{
    display:none;
}
.checkbox_button{
    display: inline-block;
    background: transparent;
    font-size: 16px;
    line-height: 1.18;
    color: #4290c9;
    padding:0;
    cursor:pointer;
    border: none;
    border-radius: none;
}
.checkbox_button:hover{
    text-decoration: underline;
    
}
.toggle{
    cursor:pointer;

}
.toggle__input{
    display:none;
}
.toggle__title{
    font-size:16px;
    line-height: 1.18;
    color:#000;
}
.toggle__fake{
    position:relative;
    display: inline-block;
    vertical-align: bottom;
    width: 37px;
    height: 20px;
    background-color:#8f8f8f ;
     border-radius: 10px;
}
.toggle__fake::before{
    position: absolute;
    top:2px;
    left:2px;
    content:"";
    width: 16px;
    height: 16px;
    background-color: #3b3b3b;
    border-radius: 50%;
    transition: all ease-in 0.2s;

}
.toggle__input:checked + .toggle__fake{
    background-color: #FFE074;
}

.toggle__input:checked ~ .toggle__title{
    font-weight: 700;
}

.toggle__input:checked + .toggle__fake::before{
    left:19px;
}
.filter_button{
    display:flex; 
    justify-content:center ;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: #fff;
    border:solid 1px #D6D6D6;
    border-radius:4px;
    cursor:pointer;
    font-size: 16px;
    line-height: 1.18;
    color:#3c3c3c;
    transition: all ease-in 0.2s;
}
.filter_button:not(:last-child){
    margin-bottom: 15px;
}
.filter_button:hover{
    background-color: #e7e7e7;
}
.btn_submit{
    border: none;
    background-color: #FFCF26;
    color:black;
}
.btn_submit:hover{
    background-color:#ffe173 ;
}

.container{
    width: 830px;
}
@media (max-width: 1000px){
    .container{
        width: 830px;
    }
}
@media (max-width: 829px){
    .container{
        width:600px;
    }
    .sidebar{
        position:fixed;
        top:0;
        left:0;
        padding:15px;
        background-color:white ;
        box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
    }
}
@media (max-width: 599px){
    .cards_holder{
        display:flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
    }
}
